.sect1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  
  .sect2{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
   
  }
  
  .sect3{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
   
  }

  .sect4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }