
.res1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .res2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 30px;
  }
  
  .res3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    gap: 20px;
  }
  
  .res3 h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #231f1f;
    padding: 20px 0 0;
  }
  
  .res3img{
    /* width:20%; */
    border: 1px solid #cccccc;
    /* padding: 30px; */
  }
  
  .res3text{
    border: 1px solid #cccccc;
  }
  
  .res3btn{
    background-color: #F6842A;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  
  }
  
  .res3 hr {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 0;
    margin: 0;
  }
  
  .res4 {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }
  
  .res4img{
    max-width: 200px;
    /* max-height: 60px; */
    border-radius: 20px;
  }
  
  .res4cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10px;
  }
  
  .res4cont h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  
    color: #231f1f;
  }
  
  .res4cont h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    width: 70%;
    color: #231f1f;
  }
  
  .res4cont h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #231f1f;
  }
  
  #line {
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    /* width: 100%; */
  }
  